<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <input type="button" class="btn btn-primary btn-block" value="Gestion des Salariés" onclick="location.href='@Url.Action("Employees", "Admin")'" />
        </div>
        <div class="col-sm">
            <input type="button" class="btn btn-primary btn-block" value="Gestion des Services" onclick="location.href='@Url.Action("Services", "Admin")'" />
        </div>
        <div class="col-sm">
            <input type="button" class="btn btn-primary btn-block" value="Gestion des Sites" onclick="location.href='@Url.Action("Sites", "Admin")'" />
        </div>
    </div>
</div>